body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
    background-color:#4fc08d;
    color:#fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
p,span{
    margin:0.5em 0.2em;
    font-size:1.5em;
}
a{
    text-decoration:none;
}
img{
    border: solid #fff 3px;
    border-radius: 2%;
}
div{
    display:flex;
    align-items: center;
}

button{
    margin-top:1em;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size:large;
    color:#4fc08d;
    background-color: #fff;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #fff;
    cursor:pointer;
}